/*头部搜索*/
.seek{
	position: fixed;
	top: 0;
	width: 100%;
	height: 1rem;
	background: #56C5ED;
	color: #FFFFFF;
	z-index: 100!important;
}
.seek>div{
	width: 93%;
	margin: 0 2.5%;
	display: flex;
	justify-content: space-between;
}
.seek .lft,.seek .ctr,.seek .rgt{
	flex:  0 1 auto;
}
.seek .lft a img{
	width: 0.4rem;	
	height: 0.4rem;
}
.lft,.rgt{
	line-height: 1rem;
}
.ctr{
	width: 90%;
	height: 0.7rem;
	background: #FFFFFF;
	margin-top: 0.15rem;
	color: #999999;
	border-radius: 0.08rem;
}

.ctr-tm{
	float: left;
	padding-left: 0.1rem;
}
.ctr-m{
	float: left;
	width: 5%;
	height: 0.4rem;
	margin: 0.3rem 0;
}
.ctr-tm >span{
	display: block;
	font-size:0.1rem ;
	
}
.ctr-m img{
	width: 0.12rem;
	height: 0.12rem;
	
}
.ctr-jd{
	float: left;
	width: 70%;
	height: 0.4rem;
	margin: 0.15rem 0;
	padding-left: 0.1rem;
	border-left: 1px solid #999999;
}
/*.ctr-jd input{
	border: none;
	width: 100%;
	height: 100%;
	outline: none;
	color: black;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);    
   -webkit-user-modify: read-write-plaintext-only;
}*/
/*筛选栏*/

/*下拉筛选栏 */
div.screening{
    width: 100%;
    overflow: hidden;
    background: #fff;
    position: fixed;
    top: 1rem;
    z-index: 2;
}
div.screening>ul{
    margin: 0;
    padding: 0;
    list-style-type: none;
    border-bottom: solid 1px #F4F4F4;
    overflow: hidden;
}
div.screening>ul>li{
    float: left;
    width: 25%;
    text-align: center;
    line-height: 0.8rem;
    border-left: solid 1px #F4F4F4;
    background: url("../img/icon/416079077905281369.png") no-repeat 90% 75%;
    background-size: 10% 20%;
}
/* grade */
.grade-eject,.Price-eject,.Capacity-eject,.Screen-eject{
    position:fixed;
    top: -90%;
    width: 100%;
    height: 90%;
    -webkit-transition-duration: 0.4s;
}

.grade-eject>ul{
    margin: 0;
    padding: 0;
    overflow: auto;
    height: 100%;
    width: 100%;
    -webkit-transition-duration: 0.4s;
}
.Capacity-eject>ul,.Screen-eject>ul{
	margin: 0;
    padding-top: 0.2rem;
    overflow: auto;
    width: 100%;
    -webkit-transition-duration: 0.4s;
}
.Price-eject>ul{
	margin: 0;
    overflow: auto;
    width: 100%;
    -webkit-transition-duration: 0.4s;
}
.grade-eject>ul>li,.Capacity-eject>ul>li{
    line-height: 0.8rem;
    padding-left: 0.3rem;
}

.grade-eject>ul.grade-w{
    background: #FFFFFF;
    position: absolute;
    z-index: 1;
    padding-top: 0.2rem;
}
.grade-eject>ul.nearbys,.grade-eject>ul.ad-tives,.grade-eject>ul.airports,.grade-eject>ul.high-schools,.grade-eject>ul.scenics,.grade-eject>ul.hospitals,.grade-eject>ul.all-citys{
    background: #f6f6f6;
    position: absolute;
    z-index: 2;
    left: 100%;
    padding-top: 0.2rem;
}

.grade-eject>ul.all-regions,.grade-eject>ul.yy-regions,.grade-eject>ul.nm-regions,.grade-eject>ul.by-regions,.grade-eject>ul.wd-regions,.grade-eject>ul.hx-regions,.grade-eject>ul.jj-regions
,.grade-eject>ul.qz-regions,.grade-eject>ul.ky-regions,.grade-eject>ul.xw-regions,.grade-eject>ul.xf-regions,.grade-eject>ul.gs-regions
{
    background: #ECECEC;
    position: absolute;
    z-index: 3;
    left: 100%;
    list-style-type: none;
    padding-top: 0.19rem;
}
.grade-eject>ul.grade-s>li{
    padding-top: 0.08;
}
.grade-w-roll{
	top: 1.6rem;
}
.grade-w-roll::after{
    position: fixed;
    content: "";
    width: 100%;
    height: 100%;
    display: block;
    background:rgba(0,0,0,0.2);
    opacity: 0.3;
    top: 1.4rem;
    z-index: 0;
}

.Price-Price,.Capacity-Capacity,.Screen-Screen{
    background: #fff;
    position: absolute;
    z-index: 3;
    left: 0;
    list-style-type: none;
}
.Price-Price>li,.Capacity-Capacity>li,.Screen-Screen>li{
    border-bottom: solid 1px #eee;
    padding: 0;
}
.Price-height,.Capacity-height.Screen-height{
    height: 4rem;
    margin-top: 0.23rem;
}
.Price-Price li{
	width: 100%;
	height: 1.3rem;
	border-bottom: 1px solid #E4E4E4;
}
.Screen-Screen li>div{
	width: 90%;
	margin: 0 5%;
}
.Screen-Screen li:nth-child(1){
	width: 100%;
	line-height: 0.8rem;
	height: 0.8rem;
	border-bottom: 1px solid #E4E4E4;
}
.Screen-Screen li{
	width: 100%;
	height: 1.3rem;
	border-bottom: 1px solid #E4E4E4;
}
.Screen-Screen li:last-child{
	width: 100%;
	height: 0.8rem;
}
.Screen-Screen li:last-child div{
	width: 90%;
	height: 0.8rem;
	line-height: 0.8rem;
	margin: 0 5%;
	display: flex;
	justify-content: space-between;
}
.Screen-Screen li:last-child div span{
	flex: 0 1 auto;
	width: 1rem;
	border: none;
	line-height: 0.8rem;
}
.Price-Price li >div{
	width: 90%;
	margin:  0 5%;
}
.Price-star p ,.Screen-Screen li P{
	color: #868686;
	line-height: 0.54rem;
	
}
.Price-star span,.Screen-Screen li span{
	display: inline-block;
	width: 1.5rem;
	line-height: 0.5rem;
	text-align: center;
	border: 1px solid #E2E2E2;
	border-radius: 0.05rem;
}
