/*头部*/
.head{
	position: relative;
}
.head-img{
	width: 100%;
	height: 3rem;
	
}

.head-img img{
	width: 100%;
	height: 100%;
}
.head-m{
	position: absolute;
	top: 0.4rem;
	left: 50%;
	margin-left: -0.75rem;
}
.head-m a,.head-m p{
	text-align: center;
}
.head-m p{
	font-size:0.3rem ;
	color: #FFFFFF;
}
.head-name{
	margin: 0.05rem 0;
}
.head-m a img{
	width: 1.5rem;
	height: 1.5rem;
	border-radius: 50%;
}
.head-m p img{
	width:0.5rem;
	z-index: 3;
}

/*我的列表*/
.nav a{
	display: inline-block;
	width: 100%;
	margin: 0.2rem 0;
	background: #FFFFFF;
}
.nav-margin{
	width: 90%;
	margin: 0 5%;
	height: 0.9rem;
	display: flex;
	justify-content: space-between;
}
.nav-lt,.nav-rt{
	line-height: 0.9rem;
	flex: 0 1 auto;
}
.nav-lt img{
	margin-right: 0.25rem;
}
.nav-lt img,.nav-rt img {
	width: 0.4rem;
	height: 0.4rem;
}
.list1 li a{
	display: inline-block;
	width: 100%;
	background: #FFFFFF;
	border-bottom:1px solid #F4F4F4 ;
}
.list2{
	margin: 0.2rem 0;
}
.list2 li a{
	display: inline-block;
	width: 100%;
	background: #FFFFFF;
	border-bottom:1px solid #F4F4F4 ;

}
.nav-btm{
	display: inline-block;
	width: 100%;
	background: #FFFFFF;
}






/* 底部 */
.foot{
  width: 100%;
  height: 1.3rem;
  background: #ffffff;
  position: fixed;
  bottom: 0;
  display:block;
}
.foot-list{
  height: 1.05rem;
  display: flex;
}
.foot-list div{
  margin: 0.105rem 0;
  text-align: center;
  flex-grow: 1;

}
.foot-list div:nth-child(4) a span{
	color: #00D7F5;
}
.foot-list img{
  width: 0.55rem;
  height: 0.55rem;
  display: block;
  margin: 0 auto;
}
















