/*附近酒店*/
article{
	background: #FFFFFF;
}
article .fot-jiudian{
	width: 100%;
	background: #FFFFFF;
	border-bottom: 1px solid #F4F4F4;
	padding-bottom: 0.16rem;
	position: relative;
	margin-bottom: 0.15rem;
	margin-top: 0.25rem;
}

article .fot-jiudian .fot-img{
	position: relative;
}
article .fot-jiudian .fot-img .fot-tu{
	width: 100%;
	height: 2.7rem;
}
article .fot-jiudian .fot-img a{
	display: inline-block;
	width: 100%;
	height: 100%;
}
article .fot-jiudian .fot-img a img{
	width: 100%;
	height: 100%;
}
article .fot-jiudian .fot-img .fot-img-user{
	width: 90%;
	height: 1.5rem;
	margin: 0 5%;
	display: flex;
	display: -webkit-flex;
	justify-content: space-between;
	position: absolute;
	bottom: -0.4rem;
	z-index: 2;
}
article .fot-jiudian .fot-img .fot-img-user div{
	flex-grow: 1;
}
.fot-part {
	position: absolute;
	top: 0.27rem;
	right: 4%;
}
.fot-part div img:nth-child(1){
	display: inline-block;
	width: 0.55rem;
	height: 0.55rem;
	
}
.fot-part div img:nth-child(2){
	display: inline-block;
	width: 0.55rem;
	height: 0.55rem;
	
}
article .fot-img-pic{
	color: red;
	line-height: 1.5rem;
	
}
article .fot-img-pic span span{
	font-size: 0.6rem;
}
article .fot-img-cos{
	position: relative;
}
article .fot-img-cos img{
	position: absolute;
	right: 0;
}
article .fot-img-cos a{
	display: inline-block;
	width: 1.2rem;
	height: 1.2rem;
	border-radius: 50%;
	overflow: hidden;
}
article .fot-jiudian .fot-img .fot-img-user div img{
	width: 1.2rem;
	height: 1.2rem;
}

article .fot-jiudian .fot-name{
	width: 90%;
	margin: 0 5%;
}
article .fot-jiudian .fot-nearby p:nth-child(1){
	font-size: 0.16rem;
}
article .fot-jiudian .fot-nearby p:nth-child(2){
	color: #848484;
	width: 70%;
	height: 0.5rem;
	overflow: hidden;
	text-overflow:ellipsis;
	white-space: nowrap;
}
article .fot-jiudian .fot-nearby p:nth-child(3) span:nth-child(1){
	color: #EF9109;
	margin-right:0.15rem;
}
article .fot-jiudian .fot-nearby p:nth-child(3) span:nth-child(2){
	color: red;
	border: 1px solid red;
	border-radius:0.1rem ;
	margin-right:0.15rem;
}
article .fot-jiudian .fot-nearby p:nth-child(3) span:nth-child(3){
	color: #EF51EC;
	border: 1px solid #EF51EC;
	border-radius:0.1rem ;
}