html,body{
 	background: #FFFFFF;
 }
header .head {
	width: 100%;
	height: 1.92rem;
	display: flex;
	display: -webkit-flex;
	justify-content:center;
}
.head-img{
	width: 1.1rem;
	height: 1.1rem;
	border-radius: 50%;
	flex: 0 1 auto;
	overflow: hidden;
	margin-top: 0.4rem;
	margin-bottom: 0.42rem;
}
.head-img img{
	width: 100%;
	height: 100%;
}

/*注册表单*/
form div{
	width: 100%;
	display: flex;
	display: -webkit-flex;
	justify-content:center;
	margin-bottom: 0.5rem;
	
}
form div img{
	display: inline-block;
	width: 0.4rem;
	height: 0.4rem;
	position: relative;
	left: 8%;
	margin-top: 0.25rem;
	z-index: 3;
}
form div input{
	flex: 0 1 auto;
	border: none;
	width: 5rem;
	height: 0.8rem;
	line-height: 0.8rem;
	border: 1px solid #F4F4F4;
	
	background: url(../img/log-register/20685675303688655.png) no-repeat 0.2rem center / 0.3rem 0.3rem;;
	text-indent: 0.6rem;
	font-size: 0.3rem;
}
.tel,.paswd,.cpaswd{
	border-radius:0.125rem ;
}
form div button{
	flex: 0 1 auto;
	border: none;
	width: 5rem;
	height: 0.8rem;
	border-radius:0.125rem ;
	text-indent: 1rem;
	font-size: 0.4rem;
}
form div button{
	background: #FD6261;
	color: #FFFFFF;
}
form  #form-txt input{
	width: 3.54rem;
	border-top-left-radius: 0.125rem;
	border-bottom-left-radius: 0.125rem;
}
.ctxt{
	border-top-right-radius: 0.125rem;
	border-bottom-right-radius: 0.125rem;
}
form  #form-txt span{
	display: inline-block;
	width: 1.46rem;
	height: 0.8rem;
	line-height: 0.8rem;
	text-align: center;
	color: #FFFFFF;
	background: #FF8C8A;
	font-size: 0.14rem;
}
form  #form-log {
	display: flex;
	display: -webkit-flex;
	justify-content: flex-end;
	margin-top: -0.25rem;
}
form  #form-log p{
	flex: 0 1 auto;
	padding-right: 1.2rem;
}
form  #form-log p span{
	color: #61DBF9;
}
form #form-btn{
	text-indent: 0;
}
/*其他登录方式*/
footer div{
	width: 100%;
	
}
footer div:nth-child(1){
	width: 100%;
	display: flex;
	display: -webkit-flex;
	justify-content:center;
	margin-bottom: 0.45rem;
}
footer div:nth-child(1) p{
	flex: 0 1 auto;
	
}
footer div:nth-child(1) p span{
	margin: 0 0.3rem ;
}
footer div ul{
	width: 100%;
	display: flex;
	display: -webkit-flex;
	justify-content:center;
}
footer div ul li{
	width: 1rem;
	height: 1rem;
	border-radius:50% ;
	overflow: hidden;
	flex: 0 1 auto;
}
footer>div ul .foot-li{
	margin: 0 0.5rem;
}
footer div ul li img{
	width:100% ;
	height: 100%;
}
.popup{
	width: 4rem;
	height: 0.5rem;
	border-radius: 0.125rem;
	background: black;
	opacity: 0.3;
	color: #FFFFFF;
	text-align: center;
	margin: 1rem auto;
	display: none;
}