 body,ul,ol,p,h1,h2,h3,h4,h5,dl,dd,form,input,textarea,
td,th,button,strong,em,select,video,canvas{margin:0;padding:0;}
li{list-style:none;vertical-align:top;}
table{ border-collapse:collapse;}
textarea{resize:none;overflow:auto;}
img{ border:none; vertical-align:middle;}
em{ font-style:normal;}
a{ text-decoration:none;}
a,input{
-webkit-appearance: none;/*屏蔽阴影*/
-webkit-tap-highlight-color:rgba(0,0,0,0);
/*ios android去除自带阴影的样式*/
}
a, img {
/* 禁止长按链接与图片弹出菜单 */
-webkit-touch-callout: none; 
 color: black;
}
html, body {
	/* 禁止选中文本(如无文本选中需求,此为必选项) */
	-webkit-user-select: none;  
	-webkit-tap-highlight-color:transparent;
	user-select: none;
	background: #F4F4F4;
}
html{
	font-size: 100px;
}
body{
	font-family: "Helvetica Neue", Helvetica, "STHeiTi", sans-serif; 
	overflow-x:hidden; 
	overflow-y:auto;
	/*font-size:0.14rem;*/
}
.clear{zoom:1;}
.clear:after{content:''; display:block; clear:both;}
.viewport{ max-width:640px; margin:0 auto; overflow-x:hidden;}

/*public*/
/*html {
font-size : 20px;
color: #585858;
}
@media only screen and (min-width: 401px){
html {
font-size: 25px !important;
}
}
@media only screen and (min-width: 428px){
html {
font-size: 26.75px !important;
}
}
@media only screen and (min-width: 481px){
html {
font-size: 30px !important; 
}
}
@media only screen and (min-width: 569px){
html {
font-size: 35px !important; 
}
}
@media only screen and (min-width: 641px){
html {
font-size: 40px !important; 
}
}*/